---
import { getCollection } from 'astro:content';

import Layout from '../layouts/base.astro';

import Pattern from '../components/Pattern.astro';
import ExternalLink from '../components/ExternalLink.astro';

import { socials, email } from '../config.json';

const questions = await Promise.all(
  (await getCollection('questions')).map(async (q) => {
    return { title: q.data.title, ...(await q.render()) };
  }),
);

const discordUrl = `https://discord.com/${socials.discord}`;
const twitterUrl = `https://twitter.com/${socials.twitter}`;
---

<Layout title="FAQ" description="Simplicity, transparency and efficiency.">
  <main>
    <h1>Simplicity, <u>transparency</u> and efficiency.</h1>
    <aside>
      <Pattern
        actives={new Set([
          2, 3, 4, 5, 8, 9, 14, 15, 16, 17, 18, 19, 22, 23, 26, 27, 28, 29,
        ])}
      />
      <h3>Have more questions?</h3>
      <p>
        Feel free to reach out!
        <ul class="flex-col">
          <li>
            <svg class="icon"><use xlink:href="#at-sign"></use></svg
            ><ExternalLink href=`mailto:${email}`>Email</ExternalLink>
          </li>
          <li>
            <svg class="icon"><use xlink:href="#discord"></use></svg
            ><ExternalLink href={discordUrl}>Discord</ExternalLink>
          </li>
          <li>
            <svg class="icon"><use xlink:href="#twitter"></use></svg
            ><ExternalLink href={twitterUrl}>Twitter/X</ExternalLink>
          </li>
        </ul>
      </p>
    </aside>
    <section id="questions">
      <h2>FAQ</h2>
      {
        questions.map(({ title, Content }) => (
          <details>
            <summary>
              {title}
              <svg class="icon arrow">
                <use xlink:href="#arrow-up" />
              </svg>
            </summary>
            <Content />
          </details>
        ))
      }
    </section>
  </main>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol
      id="arrow-up"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <line x1="12" y1="19" x2="12" y2="5"></line>
      <polyline points="5 12 12 5 19 12"></polyline>
    </symbol>
  </svg>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'h1 h1 h1 h1'
      'aside q q q';
  }

  h1 {
    grid-area: h1;
    font-size: 4em;
    text-align: center;
  }

  aside {
    grid-area: aside;
    min-width: 20rem;
    padding: var(--gap-md);

    & > :global(svg) {
      color: var(--color-secondary);
      display: flex;
      margin: 0 auto var(--gap-md) auto;
      max-width: 75%;
    }

    & h3 {
      font-family: var(--font-mono);
      color: var(--color-secondary);
      margin-bottom: var(--gap-md);
    }

    & ul {
      list-style: none;
      margin: var(--gap-xs) 0;
      color: var(--color-secondary);

      & > :global(li) {
        & > .icon {
          margin-right: var(--gap-xs);
        }
        margin-bottom: calc(var(--gap-xs) / 2);
      }

      & > :global(li) + :global(li) {
        margin-top: calc(var(--gap-xs) / 2);
      }

      & > :global(li):last-child {
        margin-bottom: unset;
      }
    }
  }

  #questions {
    grid-area: q;
    width: 100%;
    padding: var(--gap-md);

    & h2 {
      font-size: 2.5em;
      margin-bottom: var(--gap-md);
    }

    & > details {
      border-bottom: 1px solid var(--color-secondary);
      padding: var(--gap-md) 0;

      & > :global(p) {
        padding-top: var(--gap-md);
      }

      & summary {
        width: 100%;
        list-style: none;
        position: relative;
        cursor: pointer;
        color: var(--color-secondary);

        &:hover {
          color: var(--color-secondary-light);
        }

        & svg {
          position: absolute;
          right: 0;
          transition: 0.3s ease;
        }

        &:focus {
          outline: none;
        }

        &::-webkit-details-marker {
          display: none;
        }
      }

      &:nth-child(2) {
        border-top: 1px solid var(--color-secondary);
      }

      &[open] {
        & summary svg.arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
</style>
