---
import ExternalLink from '../components/ExternalLink.astro';
import Grid from '../components/Grid.astro';

import { socials, email } from '../config.json';

const githubUrl = `https://github.com/${socials.github}`;
const discordUrl = `https://discord.gg/${socials.discord}`;
const twitterUrl = `https://twitter.com/${socials.twitter}`;
---

<Grid
  style="margin-top: auto;"
  rows={1}
  actives={new Set([0, 1, 10, 11, 12, 13, 18, 19, 22, 23, 24, 25, 28, 29])}
/>

<footer class="flex-col flex-center">
  <div class="flex-row">
    <svg style="color: var(--color-secondary);">
      <use xlink:href="#logo-mark"></use>
    </svg>
    <aside>
      <h4>Build together. With PRAGMA.</h4>

      <ul class="flex-col">
        <li><a href="/statutes">Statutes</a></li>
        <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>

      <ul class="flex-col">
        <li>
          <svg class="icon"><use xlink:href="#github"></use></svg>
          <ExternalLink href={githubUrl}>GitHub</ExternalLink>
        </li>
        <li>
          <svg class="icon"><use xlink:href="#discord"></use></svg>
          <ExternalLink href={discordUrl}>Discord</ExternalLink>
        </li>
        <li>
          <svg class="icon"><use xlink:href="#twitter"></use></svg>
          <ExternalLink href={twitterUrl}>Twitter/X</ExternalLink>
        </li>
      </ul>

      <a class="no-effect" href=`mailto:${email}`>{email}</a>
    </aside>
  </div>
  <p id="copyright">© 2024 PRAGMA. All rights reserved.</p>
</footer>

<style>
  footer {
    width: 100%;
    padding: var(--gap-md);
    padding-bottom: var(--gap-sm);
    background: var(--color-primary-dark);

    & svg {
      --logo-height: calc(var(--height-header) - 2 * var(--gap-md));
      width: calc(2 * var(--logo-height));
      height: var(--logo-height);
    }

    & > div {
      width: 100%;
    }

    & #copyright {
      margin-top: var(--gap-md);
      font-size: 0.75em;
      opacity: 0.75;
    }
  }

  aside {
    width: 100%;
    max-width: max(500px, 40vw);
    margin-left: auto;
    display: grid;
    grid-template:
      'title title title' auto
      '  .     .     .  ' auto
      / 1fr 1fr 1fr;

    & > a {
      text-align: right;
    }
  }

  h4 {
    grid-area: title;
  }

  ul {
    list-style: none;
    margin: 0;
    color: var(--color-secondary);

    & > :global(li) {
      & > .icon {
        margin-right: var(--gap-xs);
      }

      margin-bottom: var(--gap-xs);
    }

    & > :global(li) + :global(li) {
      margin-top: var(--gap-xs);
    }

    & > :global(li):last-child {
      margin-bottom: unset;
    }
  }

  @media (max-width: 770px) {
    footer {
      gap: var(--gap-md);
      & svg {
        display: none;
      }
      & > div {
        flex-direction: column;
      }
    }

    h2 {
      font-size: 1.75em;
      margin: 0;
    }

    aside {
      text-align: center;
      max-width: unset;
      margin-left: unset;
      gap: var(--gap-xl);
      grid-template:
        'title title title' auto
        '  .     .     .  ' auto
        '  .     .     .  ' auto
        '  .     .     .  ' auto
        / 1fr 1fr 1fr;

      & > a {
        width: 100%;
        text-align: center;
      }

      & > * {
        grid-column-start: span 3;
      }
    }
  }
</style>
