---
interface Props {
  title?: string;
  description?: string;
}

import '../css/global.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { description } = Astro.props;

const title = Astro.props.title ? `PRAGMA – ${Astro.props.title}` : `PRAGMA`;
---

<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/HankenGrotesk.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/SpaceGrotesk.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/SpaceMono-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

    <!-- Logo -->
  </head><svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    style="display: none">
    <defs>
      <style>
        .st0 {
          fill-rule: evenodd;
          clip-rule: evenodd;
          fill: currentColor;
        }
        .st1 {
          fill: currentColor;
        }
      </style>
    </defs>

    <symbol id="logo-mark" viewBox="0 0 120 120">
      <path
        class="st0"
        d="M39.6,120V80.4H0V120H39.6z M120,80.4H39.6V39.6l0,0h0V0H120v39.6v0V80.4z"
      ></path>
    </symbol>

    <symbol id="logo-typography" viewBox="150 25 480 80">
      <path
        class="st1"
        d="M527,103.6L548.4,28h23.3l21.4,75.6h-13.8l-4.7-17.3h-29.1l-4.7,17.3H527z M548.6,74.4h22.8l-10.5-38.3H559
          L548.6,74.4z"
      ></path>
      <path
        class="st1"
        d="M434.7,103.6V28h25l15.1,66.9h1.9L492,28H517v75.6h-12.9V37.4h-1.9L487,103.6h-22.3l-15.1-66.2h-1.9v66.2H434.7
          z"
      ></path>
      <path
        class="st1"
        d="M286,103.6L307.3,28h23.3l21.4,75.6h-13.8l-4.7-17.3h-29.1l-4.7,17.3H286z M307.6,74.4h22.8l-10.5-38.3H318
          L307.6,74.4z"
      ></path>
      <path
        class="st1"
        d="M221.1,103.6V28h33.3c4.9,0,9.2,0.8,12.8,2.5c3.6,1.7,6.5,4,8.5,7c2.1,3,3.1,6.5,3.1,10.7v1.2
          c0,4.7-1.1,8.4-3.5,11.2s-5.1,4.9-8.3,6.2v1.7c2.9,0.1,5.2,1.1,6.8,2.9c1.7,1.8,2.6,4.2,2.6,7.2v25h-13.4V80.5
          c0-1.8-0.5-3.2-1.6-4.3c-1-1.2-2.6-1.7-4.8-1.7h-22v29.2H221.1z M234.5,62.7H253c3.9,0,6.9-1,9-2.9c2.2-2,3.3-4.7,3.3-8v-1
          c0-3.4-1.1-6-3.2-8c-2.2-2-5.2-3-9.1-3h-18.5V62.7z"
      ></path>
      <path
        class="st1"
        d="M154,103.6V28h31.5c4.9,0,9.2,0.9,12.9,2.8c3.7,1.9,6.6,4.5,8.8,8c2.2,3.4,3.2,7.4,3.2,12.1v1.5
          c0,4.6-1.1,8.6-3.3,12.1c-2.2,3.5-5.1,6.1-8.9,8c-3.7,1.9-7.9,2.8-12.7,2.8h-18v28.3H154z M167.5,63.5h16.7c3.9,0,6.9-1,9.2-3
          c2.4-2,3.6-4.8,3.6-8.3v-1.1c0-3.5-1.1-6.3-3.5-8.3c-2.3-2-5.4-3-9.4-3h-16.7V63.5z"
      ></path>
      <path
        class="st1"
        d="M607.9,43.4V28h5.6l2.8,13.5h0.4l2.8-13.5h5.6v15.4h-2.9V30.1h-0.4l-2.7,13.3h-5l-2.7-13.3h-0.4v13.3H607.9z"
      ></path>
      <path class="st1" d="M598.3,43.4V30.6h-4.6V28h12.3v2.6h-4.6v12.8H598.3z"
      ></path>
      <path
        class="st1"
        d="M388,105c-5.5,0-10.5-1.1-14.9-3.4c-4.3-2.4-7.8-5.7-10.4-10.2c-2.5-4.5-3.8-10-3.8-16.5V57.1
          c0-9.7,2.8-17.1,8.5-22.3c5.7-5.2,13.3-7.8,22.8-7.8c9.5,0,16.9,2.5,22,7.4c5.1,4.9,7.7,11.4,7.7,19.7v0.4h-13.2v-0.9
          c0-2.9-0.6-5.4-1.8-7.7c-1.2-2.3-3-4.1-5.5-5.4c-2.5-1.4-5.5-2-9.3-2c-5.5,0-9.9,1.6-13.1,4.9c-3.1,3.2-4.7,7.7-4.7,13.4v18.2
          c0,5.6,1.6,10.1,4.7,13.5c3.2,3.4,7.6,5,13.3,5c5.7,0,9.8-1.5,12.4-4.4c2.6-2.9,3.9-6.7,3.9-11.2v-1.3H387V65.8h33v37.7h-12.3v-7.4
          h-1.9c-0.6,1.3-1.5,2.6-2.8,4.1c-1.3,1.4-3.1,2.5-5.5,3.4C395.2,104.5,392.1,105,388,105z"
      ></path>
    </symbol>

    <symbol id="logo" viewBox="0 0 550 120">
      <path
        class="st0"
        d="M39.6,120V80.4H0V120H39.6z M120,80.4H39.6V39.6l0,0h0V0H120v39.6v0V80.4z"
      ></path>
      <use xlink:href="#logo-typography" y="0" x="150" width="400" height="120"
      ></use>
    </symbol>

    <symbol
      id="arrow-right"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </symbol>

    <symbol
      id="external-link"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
      <polyline points="15 3 21 3 21 9"></polyline>
      <line x1="10" y1="14" x2="21" y2="3"></line>
    </symbol>
  </svg>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>


</html>
